*
  font-family: 'Open Sans', sans-serif
body
  background-color: #EDEFF4
  margin: 0
  box-sizing: border-box
  list-style: none
h1
  display: none
.wrapper
  overflow-y: hidden
  display: grid
  grid-template-columns: 60px auto
  grid-column-gap: 90px
.main
  grid-column: 2
  padding-top: 140px
  padding-right: 90px

.sidebar
  height: 100%
  position: fixed
  &__img
    position: absolute
    top: 0%

.btn
  width: 330px
  height: 40px
  font-size: 14px
  font-weight: 700
  cursor: pointer
  &-solo
    margin-bottom: 20px
  &__btn-transparent
    background-color: #EDEFF4
    border: 2px solid #5EBDE1
    border-radius: 7px
    &:hover
      background-color: darken(#EDEFF4, 10% )
  &__btn-color
    background-color: #5EBDE1
    border: 2px solid #5EBDE1
    color: white
    border-radius: 7px
    &:hover
      background-color: darken(#5EBDE1, 10% )

.link
  color: #20A8D8
  font-size: 13px
.info__text
  color: #3E515B
  font-size: 14px
.heading
  margin-bottom: 22px
  margin-top: 0

.block
  background-color: white
  border-radius: 15px
  padding: 34px 40px
  margin-bottom: 20px
  &__text
    color: #3E515B
    font-size: 14px
    text-align: left
  &__heading
    font-size: 24px
  &__price
    display: flex
    align-items: baseline
    grid-column: span 3
    &-l
      font-size: 24px
      font-weight: 700
      margin-right: 5px
    &-s
      font-size: 16px
  &__link
    grid-column: span 3
  &__info
    grid-column: span 3

.item
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: 20px 50px
  &__container
    grid-column: span 1
    &-big
      grid-column: span 2
  &__form
    display: grid
    grid-template-columns: 36px 1fr
    grid-gap: 5px 20px
  &__img
    display: flex
    align-self: center
    width: 100%
  &__fieldset
    border: 1px solid #DBE3E8
    background-color: white
    border-radius: 5px
    padding-top: 0
    height: 40px
    margin: 0
  &__legend
    padding: 0 8px 0px 8px
    font-size: 11px
  &__select
    border: none
    appearance: none
    background-image: url('/img/arrow.png')
    background-repeat: no-repeat
    background-position: calc(100% - 5px) center
    padding-right: 18%
    cursor: pointer
    font-weight: 700
    font-size: 16px
    background-color: white
    width: 100%
    text-overflow: ellipsis

  &__price
    text-decoration: underline dashed #67c0e2 1px
    text-underline-offset: 3px
    font-weight: 700
    font-size: 16px
    grid-column: 2
    margin: 0

.info
  display: grid
  grid-template-columns: 26px auto
  grid-column-gap: 25px
  &__img
    display: flex
    align-self: center
  &__text
    color: #3E515B
    font-size: 14px
    text-align: left
    width: 75%
    margin: 0
    display: flex
    align-self: center

.total
  display: grid
  grid-template-columns: 32% 60%
  grid-gap: 45px
  margin-bottom: 50px
  &__action
    display: flex
    justify-content: space-between
  &__price
    &-s
      margin-right: 5px
      font-size: 16px
    &-l
      font-size: 24px
      font-weight: 700
      margin-right: 5px
  &__info
    max-width: 400px
    color: #3E515B
    font-size: 13px
    margin: 0

.footer
  background-color: white
  grid-column: span 2
  &__container
    padding: 80px 0 85px 150px
    display: grid
    grid-template-columns: 1fr
    grid-row-gap: 40px
  &__copyright
    color: #3E515B
    font-size: 18px
    margin: 0
  &__list
    width: 42%
    display: flex
    justify-content: space-between
    list-style: none
    padding: 0
    font-size: 16px
    margin: 0
  &__link
    color: #22232B
    text-decoration: none

.social
  display: flex
  margin-left: -10px
  &__btn
    width: 60px
    height: 60px
    border: 1px solid #e9e9ed
    border-radius: 7px
    &-mgn
      margin-left: 10px
      margin-top: 5px

@media only screen and (min-width: 1240px) and (max-width: 1900px)
  .total
    grid-template-columns: 45% 60%
  .footer__list
    width: 59%

@media only screen and (min-width: 992px) and (max-width: 1239px)
  .block
    &__text
      font-size: 12px
  .item
    &__legend
      font-size: 9px
    &__form
      grid-template-columns: 25px auto
    &__select
      font-size: 14px
    &__fieldset
      padding-bottom: 5px
  .info
    grid-column: span 2
    &__img
      width: 25px
      height: 33px
    &__text
      font-size: 12px
  .total
    grid-template-columns: 70% auto
    &__info
      font-size: 10px
  .footer
    &__list
      width: 89%
    &__link
      font-size: 15px

@media only screen and (min-width: 768px) and (max-width: 991px)
  .wrapper
    overflow-x: hidden
    grid-column-gap: 45px
  .main
    padding-top: 100px
  .item
    &__container
      grid-column: span 3
  .info
    grid-column: span 3
  .total
    grid-template-columns: 1fr
    grid-row-gap: 20px
    &__info
      max-width: 100%
      text-align: center
  .footer
    &__container
      padding-left: 115px
      grid-row-gap: 20px
    &__list
      width: 86%
      font-size: 12px
    &__copyright
      font-size: 15px

@media only screen and (min-width: 601px) and (max-width: 767px)
  .wrapper
    overflow: hidden
    grid-column-gap: 45px
  .main
    padding-top: 100px
    padding-right: 45px
  .btn
    width: 250px
  .item
    &__container
      grid-column: span 3
  .info
    grid-column: span 3
  .total
    grid-template-columns: 1fr
    grid-row-gap: 20px
    &__info
      max-width: 100%
      text-align: center
  .footer
    &__container
      padding-left: 115px
      grid-row-gap: 20px
    &__list
      width: 90%
      font-size: 14px
      flex-direction: column
    &__copyright
      font-size: 15px
@media only screen and (max-width: 600px)
  .wrapper
    overflow: hidden
    grid-column-gap: 20px
    grid-template-columns: 30px 1fr
  .sidebar
    &__img
      width: 30px
  .main
    padding-top: 50px
    padding-right: 20px
  .block
    padding: 34px 20px
    &__text
      font-size: 12px
  .btn
    width: 100%
  .item
    &__container
      grid-column: span 3
    &__select
      font-size: 14px
    &__form
      grid-template-columns: 25px 1fr
      grid-column-gap: 15px
  .info
    grid-template-columns: 25px 1fr
    grid-column: span 3
    &__text
      width: 100%
      font-size: 12px
    &__img
      width: 25px
  .total
    grid-template-columns: 1fr
    grid-row-gap: 20px
    &__action
      flex-direction: column
      align-items: center
    &__info
      max-width: 100%
      text-align: center
      font-size: 12px
  .footer
    &__container
      padding-left: 50px
      grid-row-gap: 20px
    &__list
      width: 90%
      font-size: 14px
      flex-direction: column
    &__copyright
      font-size: 13px
  .social
    &__btn
      width: 50px
      height: 50px
