=font_small
  font-weight: 700
  font-size: 16px
=select
  background-color: white
  border: 1px solid #DBE3E8
  border-radius: 5px
  height: 40px
  margin-left: 20px
  margin-bottom: 10px
  appearance: none
  background-image: url('/img/arrow.png')
  background-repeat: no-repeat
  background-position: calc(100% - 15px) center
  padding-right: 35px
  padding-left: 15px
  cursor: pointer
=container
  display: grid
  grid-template-columns: 33% 33% 33%
=label
  position: relative
  top: 9px
  left: 75px
  display: inline
  background-color: white
  font-size: 11px
  color: #22232B
  font-weight: 400
=question
  width: 20px
  height: 16px
  position: relative
  top: 12px
  left: 74px
=type
  display: flex
=img
  width: 36px
  height: 36px
=bkgrd_white
  background-color: white
  border-radius: 15px
  padding: 35px 40px
  margin-bottom: 20px
=price
  display: flex
  align-items: baseline
  &-big
    font-size: 24px
    font-weight: 700
    margin-right: 5px
    &-small
      margin-right: 5px
      font-size: 16px

body
  font-family: 'Open Sans', sans-serif
  background-color: #EDEFF4
  margin: 0
  box-sizing: border-box
  list-style: none
  text-decoration: none

h1
  margin: 0
  font-size: 24px
  margin-bottom: 30px

h2
  margin: 0
  font-size: 24px

button
  cursor: pointer

.wrapper
  display: flex
  position: relative

.sidebar
  background-color: #22232B
  width: 60px
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  position: fixed
  &-img
    position: absolute
    top: 0%
.main
  margin-left: 150px
  width: 100%
  &-container
    width: 93%
  &-btn
    width: 330px
    height: 40px
    background-color: #EDEFF4
    border: 2px solid #5EBDE1
    border-radius: 7px
    font-size: 14px
    font-weight: 700
    margin-bottom: 20px
    &:hover
      background-color: darken(#EDEFF4, 10% )

.server
  +bkgrd_white
  margin-top: 140px
  &-container
    +container
  &-item-select
    +select
    +font_small
  &-item
    &-price
      margin: 0 0 25px 60px
      text-decoration: underline dotted #67c0e2 2.5px
    +font_small
    &-type
      +type
    &-label
      +label
    &-big
      grid-column: span 2
    &-select-big
      width: 88%
    &-img
      +img
      &-small
        +question
  & a
    grid-column: span 3
    color: #20A8D8
    font-size: 13px
    margin-bottom: 10px
  &-info
    grid-column: span 3
    color: #3E515B
    font-size: 14px
    margin-bottom: 20px
  &-price
    +price

.ip
  +bkgrd_white
  &-container
    +container
  &-item
    &-label
      +label
    &-type
      +type
    &-select
      +select
    &-img
      +img
      &-small
        +question
  &-info
    display: flex
    &-img
      width: 26px
      height: 36px
      margin-top: 20px
    &-text
      color: #3E515B
      font-size: 14px
      margin-left: 25px
  &-price
    +price
    grid-column: span 3

.firewall
  +bkgrd_white
  &-container
    +container
  &-item
    &-label
      +label
    &-type
      +type
    &-select
      +select
    &-img
      +img
      &-small
        +question
  &-price
    +price
    grid-column: span 3

.total
  display: flex
  &-btn
    width: 330px
    height: 40px
    background-color: #5EBDE1
    border: 2px solid #5EBDE1
    color: white
    border-radius: 7px
    font-size: 14px
    font-weight: 700
    margin-bottom: 50px
    margin-right: 20px
    &:hover
      background-color: darken(#5EBDE1, 10% )
  &-price
    +price
    &-text
      margin-right: 5px
      font-size: 16px
  &-info
    max-width: 400px
    color: #3E515B
    font-size: 13px
    margin: 0 0 0 45px

.footer
  background-color: white
  margin-left: -90px
  &-container
    padding: 80px 0 80px 90px
  &-copyright
    color: #3E515B
    font-size: 18px
    margin-bottom: 40px
  &-ul
    display: flex
    justify-content: space-between
    list-style: none
    padding: 0
    font-size: 16px
    width: 60%
    margin-bottom: 45px
  &-link
    color: #22232B
    text-decoration: none
  &-social
    display: flex
    margin-left: -10px

  &-btn
    width: 60px
    height: 60px
    margin-left: 10px
    border: 1px solid #e9e9ed
    border-radius: 7px
